<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="ChatServiceLibrary.Service" behaviorConfiguration="serviceBehavior">
        <endpoint address="" 
                  binding="wsDualHttpBinding" 
                  contract="ChatServiceLibrary.IService"
                  bindingConfiguration="wsDualHttpBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/ChatServiceLibrary/Service/" />-->
            <add baseAddress="http://localhost:8090/Design_Time_Addresses/ChatServiceLibrary/Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
